[uwsgi]
plugins = python3
venv = /opt/mohe/venv
chdir = /opt/mohe/{{ hostname }}
wsgi-file = /opt/mohe/{{ hostname }}/{{ django_project }}/wsgi.py
master = true
processes = 2
threads = 4
touch-reload = /opt/mohe/{{ hostname }}/manage.py
ignore-sigpipe = true
ignore-write-errors = true
disable-write-exception = true
